header{
    background-color: black;
    height: 100px;
    width: 1280px;
    margin-left: -8px;
    margin-top: -10px;
}

.helper{
    margin-left: 20px;
    margin-top: 15px;
    width: 18%;
}

.title-bot{
    display: flex;
    color: white;
    margin-top: -75px;
    margin-left: 900px;
}

.send{
    position: absolute;
    width: 2%;
    margin-left: -57px;
    top: 66.7%;
}